body {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main aside"
    "footer footer";
}

header a{
    display: none;
}
.navbar li{
    float: left;
}
nav ul li ul li {
    margin-top: 10px;
}
nav ul li ul li a:hover{
    color: rgb(228, 218, 18);
}