header {
    background-color: rgb(44, 44, 215);
    color: rgb(244, 239, 239);
    padding: 20px;
    grid-area: header;
    
}

header a {
    color: rgb(222, 227, 232);
    text-decoration: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 58);
    color: rgb(234, 231, 231);
    grid-area: main;
    padding: 20px;
    height: 1000px;
}
nav {
    background-color: rgb(60, 81, 213);
    color: rgb(232, 236, 239);
    grid-area: nav;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: rgb(14, 34, 95);
    color: rgb(255, 253, 253);
    grid-area: footer;
    text-align: center;
    padding: 10px;
}
