h1 {
    color:rgb(216, 184, 0);
    border-bottom:underline;
    text-shadow: 1px 4px 6px rgb(168, 248, 49);
    font-weight: bolder;
}
p {
    font-family: fantasy;
    border: 1px solid;
    font:italic;
    padding: 20px; 
 }
 li {
    color: rgb(3, 5, 3);
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    
}
header {
    background-color: rgb(44, 44, 215);
    color: rgb(244, 239, 239);
    padding: 20px;
    grid-area: header;
}
nav {
    background-color: rgb(239, 239, 13);
    grid-area: nav;
}
main {
    background-color: rgb(5, 5, 25);
    color: rgb(234, 231, 231);
    grid-area: main;
}  
aside {
    background-color: rgb(7, 185, 164);
    grid-area: aside;
}
footer {
    background-color: rgb(143, 18, 138);
    color: rgb(177, 173, 173);
    grid-area: footer;
}
body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer"
    ;
}