h1 {
    color:rgb(218, 3, 3);
    font-weight: bolder;
    font-size: x-large;
}
p {
    color:rgb(229, 200, 14);
    border:rgb(212, 55, 37);
    font-style: oblique;
}
li {
    color:rgb(38, 73, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header {
    background-color: rgb(44, 44, 215);
    color: rgb(244, 239, 239);
    padding: 20px;
    grid-area: header;
}
nav {
    background-color: rgb(239, 239, 13);
    grid-area: nav;
}
aside {
    background-color: rgb(144, 238, 144);
    grid-area: aside;
}