body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer"
    ;
}
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid rgb(231, 222, 222);
    border-bottom: 0.2em solid rgb(242, 232, 232);
    border-radius: 0.2em;
}
.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #e9e2e2;
}
nav {
    display: block;
    background-color: rgb(230, 230, 4);
    position: fixed;
    top: 7px;
    left: 65%;
    width: 33%;
    height: 100vh;
}
#nav