h1 {
    color:rgb(16, 8, 56);
    font-weight: 700;
    text-shadow: 1px 3px 4px rgb(6, 6, 32);
    text-decoration: rgb(2, 2, 216);
    font-size: xx-large;
}
p {
    color:rgb(245, 238, 238);
    font-style: italic;
    text-overflow: clip;
    text-shadow: rgb(18, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
li {
    color:rgb(44, 185, 232);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    padding: 5px;
}
header {
    background-color: rgb(44, 44, 215);
    color: rgb(244, 239, 239);
    padding: 20px;
    grid-area: header;
}
nav {
    background-color: rgb(239, 239, 13);
    grid-area: nav;
}
main {
    background-color: rgb(5, 5, 25);
    color: rgb(234, 231, 231);
    grid-area: main;
}
aside {
    background-color: rgb(144, 238, 144);
    grid-area: aside;
}
footer {
    background-color: rgb(143, 18, 138);
    color: rgb(177, 173, 173);
    grid-area: footer;
}